@CHARSET "UTF-8";

body {
	font-family: arial;
	font-size: 18px;
  text-align: center;
}

.cabecalho {
	padding: 5px;
	background: blue;
	color: white;
}

.cabecalho1 {
	font-size: 26px;
	font-weight: bold;
}

.cabecalho2 {
	font-size: 24px;
	font-weight: bold;
}